################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/DocxParser/CopilotIndices/17.14.995.13737
/.vs/DocxParser/FileContentIndex
/.vs
